.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

table {
  page-break-inside: auto;
  width: 100%;
}

tr {
  page-break-after: auto;
  page-break-inside: avoid;
}

thead {
  display: table-header-group;
}

#name-section {
  align-items: center;

  /* display: flex; */

  /* flex-direction: row; */
  height: 100px;
  justify-content: center;
  margin: auto;
  width: auto;
}

.titulo {
  height: auto;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.info {
  color: white;
  height: 10%;
  margin: auto;
  text-align: justify;
  width:75%;
}

.form {
  margin: auto;
}

#name-input {
  width: 250px;
}

.inputs {
  margin:auto;
  display: inline;
}

#tipo-input {
  margin: auto;
  padding: 1%;
}

#comparacao {
  margin: auto;
  padding: 1%;
}

#valor {
  padding: 1%;
}

#value {
  width: 50px;
  margin: 6px;
}


.botao {
  display:grid;
}

select {
  margin: 6px;
}